/* .housing-main {
  margin: 0 60px;
}
.housing-slide {
  display: flex;
}
.collapse {
  width: 100%;
}

.housing-error {
  color: #ff6060;
  font-size: 40px;
  font-weight: 500;
  width: 100%;
  position: absolute;
  top: 400%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.housing-error button {
  width: 20%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ff6060;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.housing-error button:hover {
  transform: scale(105%);
}
.housing-title {
  color: #ff6060;
  font-size: 28px;
}

.housing-collapse {
  display: flex;
  width: 100%;

  gap: 2rem;
  margin-bottom: 40px;
}

.equipments-content {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.frame-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 700px;
}
.frame {
  height: 800px;
  width: 800px;
  border: 0;
}

@media screen and (max-width: 768px) {
  .housing-main {
    margin: 0 20px;
  }
  .housing-header {
    flex-direction: column;
  }

  .housing-title {
    font-size: 18px;
  }
  .housing-collapse {
    flex-direction: column;
  }
  .frame {
    width: 100%;
  }
} */

.housing-main {
  margin: 0 60px;
}
.housing-slide {
  display: flex;
}
.collapse {
  width: 100%;
}

.housing-error {
  color: #ff6060;
  font-size: 40px;
  font-weight: 500;
  width: 100%;
  position: absolute;
  top: 400%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.housing-error button {
  width: 20%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ff6060;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.housing-error button:hover {
  transform: scale(105%);
}
.housing-title {
  color: #ff6060;
  font-size: 28px;
}

.housing-collapse {
  display: flex;
  width: 100%;
  gap: 2rem;
  margin-bottom: 40px;
}

.equipments-content {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.frame-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* height: 700px;
  width: 700px; */
}
.frame {
  height: 800px;
  width: 100%;
  border: 0;
}

@media screen and (max-width: 768px) {
  .housing-main {
    margin: 0 20px;
  }
  .housing-header {
    flex-direction: column;
  }

  .housing-title {
    font-size: 18px;
  }
  .housing-collapse {
    flex-direction: column;
  }
  .frame {
    width: 100%;
    
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
